form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    input {
        padding: 1.25rem;
        background-color: rgba($white, 0.25);
        color: $white;

        &:focus {
            outline: 1px solid rgba($white, 0.8);
        }

        &::placeholder {
            font-size: 1.125rem;
            font-weight: 500;
            color: rgba($white, 0.5);
        }

    }

    button {
        padding: 1.25rem;
    }

}
