// ********************
// VARIABLES
// ********************

// PRIMARY COLOR VARIALBES
$gray: #34333E;
$dark-gray: #1D212D;
$gold: #A87B4F;

// SECONDARY COLOR VARIABLES
$beige: #DAD1C3;

// NEUTRAL COLOR VARIABLES
$white: #FFFFFF;
$black: #000000;

$yellow: #FFE9AB